@font-face {
  font-family: "mrpfont";
  src: url('fonts/mrpfont.eot');
  src: url('fonts/mrpfont.eot?#iefix') format('eot'),
    url('fonts/mrpfont.woff') format('woff'),
    url('fonts/mrpfont.ttf') format('truetype'),
    url('fonts/mrpfont.svg#mrpfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mrpfont--fontone:before,
.mrpfont--fonttwo:before,
.mrpfont--minus:before,
.mrpfont--plus:before,
.mrpfont--star:before {
  font-family: "mrpfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.mrpfont--fontone:before { content: "\EA01" }
.mrpfont--fonttwo:before { content: "\EA02" }
.mrpfont--minus:before { content: "\EA03" }
.mrpfont--plus:before { content: "\EA04" }
.mrpfont--star:before { content: "\EA05" }
